*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.splash {
    max-height: 1140px;
    position: relative;
    background-position: center center;
    background-size: 100% auto;
    background-attachment: fixed;
    margin: 0px auto;
  }

  .splash .overlay {
    width: 50%;
    height: 50%;
  }
  .splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-family: 'Montserrat', sans-serif;  
    color:#f8f5f5;
    font-size: 50px;
    text-align: center;
      margin-bottom: 35px;
      margin-top: 35px;

      
  
  }
  h2 {
    font-family: 'Montserrat', sans-serif;  
   color:#faf5f5;
    font-size: 25px;
    margin: 0;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .log {
    padding-left: 50px;
  }
  
.btn {
  display: block;
  background-color: rgb(250, 212, 41);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  min-width: 350px;
  height: 60px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;   
  color: rgb(255, 255, 255);
  margin: 0px auto;
}